#KP .gitignore files and folders 
# See http://help.github.com/ignore-files/ for more about ignoring files.

#KP : Ignore Files & Folders
/BackUp
/target/

##KP : Ignore MySQL JDBC Connection Files
#src/com/kpjavapackage/JDBCExample.java
#src/com/kpjavapackage/MySQLJDBConnection.java
 src/com/kpjavapackage/KPJavaWebAppDebug.txt
 #src/com/kpjavapackage/MySQLJDBConnection.java
 #src/com/kpjavapackage/Servlet2CallKPWebAPIs.java
 target/classes/com/kpjavapackage/KPJavaWebAppDebug.txt
 #target/classes/com/kpjavapackage/MySQLJDBConnection.class

 